# https://dev.to/vvo/how-to-add-firebase-service-account-json-files-to-vercel-ph5
# Make sure to add single quote here
GOOGLE_CREDENTIALS='Your JSON value'

ALLOWED_ORIGINS=http://localhost:3000,https://gsheet-rest-api.vercel.app
API_KEY=YOUR_SECRET_TOKEN
BASE_URL=http://localhost:3000